# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Movies CI/CD Pipeline 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 14.x
      uses: actions/setup-node@v3
      with:
        node-version: 14.x
        cache: 'npm'
    - name: Installing
      run: npm install
    - name: Running Unit Tests
      run: npm run test:unit
    - name: Display SoftUni username
      run: echo "vlzahariev"
    - name: Deploy to Render.com
    # You may pin to the exact commit or the version.
    # uses: bankfliptech/deploy-to-render@cb8b1f45da1a5e8efba0a58aa42715af0628214a
      uses: bankfliptech/deploy-to-render@v1.0.3
      with:
      # The deploy hook url for the service you want to deploy
        deployHookURL: 
      # Your personal API key to interact with Render
        apiKey: ${{ secrets.MY_RENDER_API_KEY }}
      # The serviceId of the service you want to deploy
        serviceId: ${{ secrets.SERVICE_ID }}
